<div class="auth-wrapper d-flex no-block justify-content-center align-items-center">
  <div class="auth-box m-3 m-md-0 card">
    <div>
      <div class="text-center">
        <h5 class="font-medium mb-4" *ngIf="!success">Reset your password</h5>
        <p class="alert alert-success" *ngIf="success && showMsg">
        <strong>Email sent!</strong>
        </p>
      </div>

      <div class="text-center">
        <div class="alert alert-danger" *ngIf="inputsFilledError">
          <strong>Please fill all fields!</strong>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <form class="form-horizontal mt-3" name="form" role="form" (ngSubmit)="resetPasswordInit()" [formGroup]="resetPasswordInitForm"
                *ngIf="!success">
            <div class="mb-3 row">
              <div class="col-12">
                <input
                  class="form-control"
                  type="email"
                  name="email"
                  id="email"
                  placeholder="Email"
                  formControlName="email"
                  #email
                />
                <div
                  *ngIf="resetPasswordInitForm.get('email')!.invalid && (resetPasswordInitForm.get('email')!.dirty || resetPasswordInitForm.get('email')!.touched)">
                  <small
                    class="form-text text-danger"
                    *ngIf="resetPasswordInitForm.get('email')?.errors?.required"
                  >
                    Your email is required.
                  </small>

                  <small
                    class="form-text text-danger"
                    *ngIf="resetPasswordInitForm.get('email')?.errors?.invalid"
                  >
                    Your email is invalid.
                  </small>

                  <small
                    class="form-text text-danger"
                    *ngIf="resetPasswordInitForm.get('email')?.errors?.pattern"
                  >
                    Your email form is not valid
                  </small>

                  <small
                    class="form-text text-danger"
                    *ngIf="resetPasswordInitForm.get('email')?.errors?.maxlength"
                  >
                    Your email cannot be longer than 100 characters.
                  </small>
                </div>
              </div>
            </div>
            <div class="mb-3 text-center ">
              <div class="col-xs-12 mb-4">
                <button class="container btn btn-primary w-50" type="submit" style="background-color: #262b5a; border-color: #262b5a" [disabled]="resetPasswordInitForm.invalid">
                  Reset Password
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


