.auth-wrapper {
  min-height: 50vh;
  position: relative;
}

.auth-box {
  background: white;
  padding: 20px;
  box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
  max-width: 400px;
  min-width: 25vw;
}

#recoverform {
  display: none;
}
.forgot-password{
  display: inline-block;
  float: right;
  color: #007bff;
}

.submit{
  margin-left: 100px;
}
.strike {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 10px;
}

.strike > span {
  position: relative;
  display: inline-block;
}

.strike > span:before,
.strike > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 1px;
  background: #ced4da;;
}

.strike > span:before {
  right: 100%;
  margin-right: 15px;
}

.strike > span:after {
  left: 100%;
  margin-left: 15px;
}
.social{
  width:100%;
  text-align: center;
}
.inner
{
  display: inline-block;
}
.container{
  display:flex;
  justify-content: center;
  align-items: center;
}
